*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(180deg, #b0bac9 55%, #e7e9eb);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.big-icon {
  width: 82px;
  height: 82px;
}

.icon-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

header {
  display: flex;
  margin: 21px 0 18px 0;
  justify-content: center;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  margin: 12px;
  font-size: 1.9rem;
}

header .header-logo {
  width: 35px;
  height: 35px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

input#city-search {
  height: 45px;
  width: 350px;
  padding-left: 21px;
  padding-right: 45px;
  border-radius: 21px;
  font-size: 1.3rem;
  background-color: #efefef;
  border: none;
  outline: none;
}

input#city-search:focus {
  border: 2px solid black;
}

form button.start-search {
  position: absolute;
  right: calc(50% - 165px);
  background-image: url(./icons/magnify.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  outline: none;
  border: none;
}

form button.start-search:hover {
  cursor: pointer;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.day-weather-container {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}

.day-weather-container.hide {
  display: none;
}

.current-day-weather {
  width: 370px;
  height: 330px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(176, 186, 201, 0.45);
  border-radius: 20px;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.475),
    -2px -2px 12px 0px rgba(0, 0, 0, 0.475);
}

.city-name {
  font-size: 2.5rem;
  text-align: center;
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.time {
  font-weight: bold;
}

.temperature-details {
  text-align: center;
}

.current-temp {
  font-size: 4.5rem;
  font-weight: bold;
}

.condition {
  font-weight: bold;
  text-align: center;
}

.weather-conditions {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  width: 370px;
  height: 330px;
  justify-content: space-around;
  padding: 18px;
  gap: 12px;
  background-color: #bfdbfe;
  border-radius: 20px;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.475),
    -2px -2px 12px 0px rgba(0, 0, 0, 0.475);
}

.weather-condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-condition div:nth-of-type(1) {
  display: flex;
  gap: 8px;
  align-items: center;
}

.weather-condition .icon-container {
  width: 60px;
  height: 50px;
}

.weather-condition div:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.95rem;
}

.loading-screen.show {
  z-index: 3;
  position: absolute;
  width: 100%;
  background: #e7e9eb;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
  bottom: 0;
}

.loading-screen.hide {
  display: none;
}

.loader {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  margin: 50px;
  position: relative;
}

.loader::after {
  content: '';
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: orangered;
  border-bottom-color: #bebcbc;
  border-left-color: #b3bcbc;
  border-right-color: #b3bcbc;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 700px) {
  body {
    height: 100%;
    display: block;
  }

  .day-weather-container {
    flex-direction: column;
    align-items: center;
  }

  .loading-screen.show {
    top: 180px;
  }
}
